force-app/main/default/flows/Approve_Selected_Advisory_Segment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_No_Records_Message</name>
        <label>Set No Records Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No pending advisory records found for this interaction.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Message</name>
        <label>Set Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advisory will be sent and status will be updated in this dashboard. You can check in sometime.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_No_Records_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Approved</targetReference>
            </connector>
            <label>Yes Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approve Selected Advisory Segment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Selected Advisory Segment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pending_Records</name>
        <label>Get Pending Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InteractionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessedFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Market_Event_Impacted_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Approved</name>
        <label>Update to Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InteractionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInteractionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessedFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ProcessedFlag__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Market_Event_Impacted_Account__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pending_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInteractionId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
