force-app/main/default/flows/Check_Pending_Advisory_Segments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Seen_IDs</name>
        <label>Add to Seen IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSeenIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUpdatedSeenIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Choice_Text</name>
        <label>Append Choice Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChoiceText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUpdatedChoiceTextNewInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Existing_Interaction_Title</name>
        <label>Append Existing Interaction Title</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChoiceText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUpdatedChoiceTextExistingInteraction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmIncrementedCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_First_Unique_Interaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MULTIPLE_Status</name>
        <label>Set MULTIPLE Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MULTIPLE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChoiceText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmMultipleChoiceText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_NONE_Status</name>
        <label>Set NONE Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NONE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChoiceText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No pending advisory segments for today.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SINGLE_Status</name>
        <label>Set SINGLE Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SINGLE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_First_Interaction</name>
        <label>Store First Interaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSelectedInteractionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Records.InteractionId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Choice_Text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Many_Segments</name>
        <label>How Many Segments?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NONE_Status</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
        <rules>
            <name>Single_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SINGLE_Status</targetReference>
            </connector>
            <label>Single Found</label>
        </rules>
        <rules>
            <name>Multiple_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MULTIPLE_Status</targetReference>
            </connector>
            <label>Multiple Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_Unique_Interaction</name>
        <label>Is First Unique Interaction?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Append_Choice_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not First</defaultConnectorLabel>
        <rules>
            <name>Yes_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_First_Interaction</targetReference>
            </connector>
            <label>Yes First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Interaction</name>
        <label>Is New Interaction?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Append_Existing_Interaction_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Seen</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNewInteraction2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Seen_IDs</targetReference>
            </connector>
            <label>Yes_New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmChoiceLine</name>
        <dataType>String</dataType>
        <expression>&quot;InteractionId &quot; &amp;
TEXT({!Loop_Through_Records.InteractionId__c}) &amp;
&quot; - &quot; &amp;
{!Loop_Through_Records.Market_Event_Title__c} &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>frmCurrentToken</name>
        <dataType>String</dataType>
        <expression>&quot;|&quot; &amp; TEXT({!Loop_Through_Records.InteractionId__c}) &amp; &quot;|&quot;</expression>
    </formulas>
    <formulas>
        <name>frmEventLine</name>
        <dataType>String</dataType>
        <expression>&quot;- &quot; &amp; {!Loop_Through_Records.Market_Event_Title__c} &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>frmIncrementedCount</name>
        <dataType>Number</dataType>
        <expression>{!varCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frmInteractionHeader</name>
        <dataType>String</dataType>
        <expression>&quot;InteractionId &quot; &amp; TEXT({!Loop_Through_Records.InteractionId__c}) &amp; &quot;:&quot; &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>frmIsNewInteraction2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    ISBLANK({!varSeenIds}),
    TRUE,
    NOT(CONTAINS({!varSeenIds}, {!frmCurrentToken}))
)</expression>
    </formulas>
    <formulas>
        <name>frmMultipleChoiceText</name>
        <dataType>String</dataType>
        <expression>&quot;Multiple segments found:&quot; &amp; BR() &amp; {!varChoiceText}</expression>
    </formulas>
    <formulas>
        <name>frmNextDay</name>
        <dataType>Date</dataType>
        <expression>{!varInputDate} + 1</expression>
    </formulas>
    <formulas>
        <name>frmUpdatedChoiceText</name>
        <dataType>String</dataType>
        <expression>{!varChoiceText} &amp; {!frmChoiceLine}</expression>
    </formulas>
    <formulas>
        <name>frmUpdatedChoiceTextExistingInteraction</name>
        <dataType>String</dataType>
        <expression>{!varChoiceText} &amp; {!frmEventLine}</expression>
    </formulas>
    <formulas>
        <name>frmUpdatedChoiceTextNewInteraction</name>
        <dataType>String</dataType>
        <expression>{!varChoiceText} &amp; {!frmInteractionHeader} &amp; {!frmEventLine}</expression>
    </formulas>
    <formulas>
        <name>frmUpdatedSeenIds</name>
        <dataType>String</dataType>
        <expression>{!varSeenIds} &amp; {!frmCurrentToken}</expression>
    </formulas>
    <interviewLabel>Check Pending Advisory Segments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Pending Advisory Segments</label>
    <loops>
        <name>Loop_Through_Records</name>
        <label>Loop Through Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Pending_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_New_Interaction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>How_Many_Segments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pending_Records</name>
        <label>Get Pending Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessedFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varInputDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>frmNextDay</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Market_Event_Impacted_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pending_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varChoiceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSeenIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInteractionId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
