force-app/main/default/flows/Create_Financial_Holdings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Financial_Holding</name>
        <label>Check for Financial Holding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Financial_Holdings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Holdings.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Financial_Holdings</targetReference>
            </connector>
            <label>Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Investment_Account</name>
        <label>Check for Investment Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Financial_Account.FinServ__RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Holdings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcUpdatedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Financial_Holdings.FinServ__Price__c} + {!$Record.FinServ__TargetValue__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Financial Holdings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Financial Holdings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Financial_Holdings</name>
        <label>Create Financial Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>FinServ__AssetClass__c</field>
            <value>
                <stringValue>Alternative Investments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__FinancialAccount__c</field>
            <value>
                <elementReference>Get_Financial_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Household__c</field>
            <value>
                <elementReference>$Record.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__Price__c</field>
            <value>
                <elementReference>$Record.FinServ__TargetValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialHolding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Financial_Account</name>
        <label>Get Financial Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Investment_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investment Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Holdings</name>
        <label>Get Financial Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Financial_Holding</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialHolding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Financial_Holdings</name>
        <label>Update Financial Holdings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>FinServ__Price__c</field>
            <value>
                <elementReference>calcUpdatedAmount</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialHolding__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Financial_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>FinServ__FinancialGoal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
