force-app/main/default/flows/Get_Latest_Market_News.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_News</name>
        <label>Append News</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTempText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmUpdatedNewsText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_News</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>News_Available</name>
        <label>News Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmFinalNewsText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>News_not_available</name>
        <label>News not available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is no latest market news available for today.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>News_Found</name>
        <label>News Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>News_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>News Available</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTempText</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>News_not_available</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmFinalNewsText</name>
        <dataType>String</dataType>
        <expression>&quot;Here is today&apos;s latest market news:&quot; &amp; BR() &amp; BR() &amp; {!varTempText}</expression>
    </formulas>
    <formulas>
        <name>frmNewsLine</name>
        <dataType>String</dataType>
        <expression>&quot;• &quot; &amp;
{!Loop_Through_News.Title__c} &amp;
BR() &amp;
&quot;  &quot; &amp;
{!Loop_Through_News.Description__c} &amp;
BR() &amp;
BR()</expression>
    </formulas>
    <formulas>
        <name>frmNextDay</name>
        <dataType>Date</dataType>
        <expression>{!varInputDate} + 1</expression>
    </formulas>
    <formulas>
        <name>frmUpdatedNewsText</name>
        <dataType>String</dataType>
        <expression>{!varTempText} &amp; {!frmNewsLine}</expression>
    </formulas>
    <interviewLabel>Get Latest Market News {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Latest Market News</label>
    <loops>
        <name>Loop_Through_News</name>
        <label>Loop Through News</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Today_s_Market_News</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_News</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>News_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Today_s_Market_News</name>
        <label>Get Today&apos;s Market News</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_News</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessedFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>N</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDateTime__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varInputDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDateTime__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>frmNextDay</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>marketevents__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Today_s_Market_News</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTempText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
